<p-toast />
<p-card>
  <p-dataview
    #dv
    [value]="filteredPokemons"
    [layout]="layout"
    [paginator]="true"
    [rowsPerPageOptions]="[12, 18, 24, 48]"
    paginatorPosition="bottom"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Pokémon"
    [showJumpToPageDropdown]="true"
    [showFirstLastIcon]="true"
    [alwaysShowPaginator]="true"
    [emptyMessage]="emptyMessage"
    [loading]="loading"
    loadingIcon="pi pi-spinner"
    [rows]="18"
    [style]="{ 'max-width': '100%', 'margin': 'auto' }">
    <ng-template #header>
      <div class="flex flex-col sm:flex-row justify-center items-center gap-4 sm:gap-8 p-4">
        <p-floatlabel variant="on" class="w-full sm:w-auto">
          <input pInputText id="searchText"
                 autocomplete="off"
                 type="text"
                 [(ngModel)]="searchText"
                 (input)="findPokemonByName()"
                 class="w-full sm:w-auto"/>
          <label for="searchText">Search by name.. ⚡</label>
        </p-floatlabel>
        <p-dropdown
          [options]="types"
          [(ngModel)]="selectedType"
          placeholder="Select Type"
          (onChange)="applyFilters()"
          class="w-full sm:w-auto"
          [filter]="true"
          [showClear]="true">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedType">
              <div
                class="relative flex items-center justify-center rounded-full p-1 shadow-sm mr-2"
                [style.background]="getTypeColor(selectedType)"
                style="min-width: 30px; height: 30px;">
                <img
                  [src]="'assets/type-icons/png/' + selectedType + '.png'"
                  alt="{{ selectedType }}"
                  class="w-5 h-5 transform transition-transform duration-300 hover:scale-110" />
              </div>
              <span>{{ selectedType | titlecase }}</span>
            </div>
          </ng-template>
          <ng-template let-type pTemplate="item">
            <div
              class="relative flex items-center justify-center rounded-full p-1 shadow-sm mr-2"
              [style.background]="getTypeColor(type)"
              style="min-width: 30px; height: 30px;">
              <img
                [src]="'assets/type-icons/png/' + type + '.png'"
                alt="{{ type }}"
                class="w-5 h-5 transform transition-transform duration-300 hover:scale-110" />
            </div>
            <span>{{ type | titlecase }}</span>
          </ng-template>
        </p-dropdown>
        <p-dropdown
          [options]="alphabeticalOptions"
          [(ngModel)]="selectedAlphabetical"
          placeholder="Alphabetical"
          (onChange)="applyFilters()"
          class="w-full sm:w-auto"
          [showClear]="true">
        </p-dropdown>
      </div>
    </ng-template>

    <ng-template #grid let-items>
      <div class="grid grid-cols-12 gap-1">
        <div
          *ngFor="let item of items"
          class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-2 p-2">
          <div class="p-2 border border-surface-200 rounded-xl shadow-sm transform transition-all hover:scale-105 hover:shadow-lg flex flex-col h-full">
            <div class="bg-red-50 flex justify-center rounded p-1 flex-1">
              <div class="relative mx-auto">
                <img
                  [src]="item.image"
                  alt="{{ item.name }}"
                  class="rounded-xl transition-all duration-300 ease-in-out transform hover:scale-125 hover:opacity-90 w-full h-24 object-cover" />
              </div>
              <p-tag [value]="item.id" severity="danger" class="absolute" [style.left.px]="4" [style.top.px]="4" />
            </div>
            <div class="pt-3">
              <div class="flex flex-col justify-between gap-1 flex-1">
                <div>
                  <div class="text-sm font-medium mt-1">{{ item.name | titlecase }}</div>
                </div>
                <div class="text-center text-xs mt-1">
                  <div class="flex flex-wrap gap-1">
                    <div
                      *ngFor="let type of item.types"
                      class="relative flex items-center justify-center rounded-full p-1 shadow-sm"
                      [style.background]="getTypeColor(type)"
                      pTooltip="{{ type | titlecase }}"
                      tooltipPosition="top"
                      style="min-width: 30px; height: 30px;">
                      <img
                        [src]="'assets/type-icons/png/' + type + '.png'"
                        alt="{{ type }}"
                        class="w-5 h-5 transform transition-transform duration-300 hover:scale-110" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col gap-2 mt-3">
                <div class="flex gap-2 justify-center">
                  <p-button
                    icon="pi pi-info-circle"
                    outlined [rounded]="true"
                    severity="success"
                    label="More Info"
                    class="flex-auto text-xs"
                    (click)="showDialog(item.id)">
                  </p-button>
                  <div class="flex gap-2 justify-center">
                    <button
                      pButton
                      [icon]="isFavorite(item) ? 'pi pi-star-fill' : 'pi pi-star'"
                      [ngClass]="isFavorite(item) ? 'bg-yellow-500 text-white' : 'bg-white text-yellow-500'"
                      outlined
                      [pTooltip]="isFavorite(item) ? 'Remove' : 'Save'"
                      tooltipPosition="top"
                      [rounded]="true"
                      severity="danger"
                      class="text-xs"
                      (click)="saveFavorite(item)">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</p-card>

<p-dialog
  header="Pokémon Details"
  [(visible)]="display"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false">
  <div *ngIf="selectedPokemon" class="space-y-4">
    <div class="text-2xl font-bold text-center capitalize">
      {{ selectedPokemon.name | titlecase }}
    </div>

    <div class="bg-red-50 flex justify-center rounded p-1 flex-1">
      <p-tag [value]="''+selectedPokemon.id" severity="danger" />
      <div class="relative mx-auto">
        <img
          [src]="selectedPokemon.sprites.other.showdown.front_default"
          alt="{{ selectedPokemon.name }}"
          class="rounded-xl transition-all duration-300 ease-in-out transform hover:scale-125   hover:opacity-90 w-full h-24 object-cover" />
      </div>
    </div>


    <div class="card flex justify-center w-full">
      <p-accordion value="0" class="w-full">
        <p-accordion-panel value="0">
          <p-accordion-header class="flex items-center gap-2">
            <i class="pi pi-tag text-lg text-blue-500"></i>
            Types
          </p-accordion-header>
          <p-accordion-content>
            <div class="text-sm">
              <div class="flex gap-2 mt-2">
                <div
                  *ngFor="let type of selectedPokemon.types"
                  class="flex items-center gap-2 p-2 rounded-full"
                  [style.background]="getTypeColor(type.type.name)"
                  style="min-width: 30px; height: 30px;">
                  <img
                    [src]="'assets/type-icons/png/' + type.type.name + '.png'"
                    alt="{{ type.type.name }}"
                    class="w-5 h-5 transform transition-transform duration-300 hover:scale-110" />
                  <span class="text-sm font-semibold capitalize text-white">
                    {{ type.type.name | titlecase }}
                  </span>
                </div>
              </div>
            </div>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
          <p-accordion-header class="flex items-center gap-2">
            <i class="pi pi-wrench text-lg text-green-500"></i>
            Weight & Height
          </p-accordion-header>
          <p-accordion-content>
            <div class="text-sm">
              <span class="font-semibold">Weight:</span>
              <span>{{ selectedPokemon.weight / 10 }} kg</span>
            </div>

            <div class="text-sm">
              <span class="font-semibold">Height:</span>
              <span>{{ selectedPokemon.height / 10 }} m</span>
            </div>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2">
          <p-accordion-header class="flex items-center gap-2">
            <i class="pi pi-chart-bar text-lg text-orange-500"></i>
            Stats
          </p-accordion-header>
          <p-accordion-content>
            <div class="text-sm">
              <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 mt-2 justify-items-center">
                <div *ngFor="let stat of selectedPokemon.stats">
                  <label for="{{ stat.stat.name | lowercase }}" class="block text-xs font-semibold">{{ stat.stat.name | titlecase }}</label>
                  <p-knob
                    [(ngModel)]="stat.base_stat"
                    [min]="0"
                    [max]="255"
                    [step]="1"
                    [styleClass]="'w-full'"
                    [readonly]="true"
                    [size]="60"
                  ></p-knob>
                </div>
              </div>
            </div>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="3">
          <p-accordion-header class="flex items-center gap-2">
            <i class="pi pi-star text-lg text-purple-500"></i>
            Abilities
          </p-accordion-header>
          <p-accordion-content>
            <div class="text-sm">
              <div class="mt-2">
                <span *ngFor="let ability of selectedPokemon.abilities" class="mr-2 px-3 py-1 bg-gray-200 rounded-full text-sm">
                  {{ ability.ability.name | titlecase }}
                </span>
              </div>
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
  </div>
</p-dialog>



