<div class="p-6 max-w-4xl mx-auto bg-white rounded-lg shadow-lg">
  <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">🚀 Sobre el Proyecto Pokédex</h1>

  <section class="mb-6">
    <h2 class="text-2xl font-semibold text-gray-700">✨ Introducción</h2>
    <p class="text-sm text-gray-600">
      Esta es una aplicación web de Pokédex construida utilizando la PoxeApi con algunas herramientas como Angular, PrimeNG y Tailwind CSS.
      El objetivo de este proyecto es hacer uso de la PoxeApi creando una aplicacón web interactiva y responsiva para explorar los datos de los Pokémon.
      Los usuarios pueden buscar Pokémon, ver sus estadísticas, añadir a favoritos y descubrir detalles como tipos, habilidades, altura, peso y más.
      ¡Una forma divertida de conocer más sobre el mundo Pokémon! 🌍
    </p>
  </section>

  <section class="mb-6">
    <h2 class="text-2xl font-semibold text-gray-700">🔧 Tecnologías Utilizadas</h2>
    <ul class="list-disc pl-6 space-y-2 text-sm text-gray-600">
      <li><strong>Angular</strong> - Un poderoso framework de front-end para crear aplicaciones dinámicas y rápidas.</li>
      <li><strong>PrimeNG</strong> - Una librería de componentes ricos de UI que mejoran la experiencia del usuario.</li>
      <li><strong>Tailwind CSS</strong> - Un framework CSS basado en utilidades que permite un diseño flexible y rápido.</li>
      <li><strong>PokéAPI</strong> - Una API pública que proporciona información detallada sobre los Pokémon, como sus estadísticas, tipos e imágenes.</li>
    </ul>
  </section>

  <section class="mb-6">
    <h2 class="text-2xl font-semibold text-gray-700">🔥 Características</h2>
    <ul class="list-disc pl-6 space-y-2 text-sm text-gray-600">
      <li><strong>🔍 Búsqueda de Pokémon</strong> - Los usuarios pueden buscar Pokémon por su nombre de forma rápida.</li>
      <li><strong>⚡ Filtrar por Nombre, Tipo</strong> - Puedes filtrar los Pokémon por su nombre ó tipo para encontrar los que más te interesen.</li>
      <li><strong>📊 Detalles de Pokémon</strong> - Visualiza información detallada de cada Pokémon, como sus tipos, estadísticas y más.</li>
      <li><strong>📱 Diseño Responsivo</strong> - La aplicación se adapta a diferentes tamaños de pantalla para una experiencia óptima en todos los dispositivos.</li>
      <li><strong>⭐ Favoritos</strong> - Los usuarios pueden guardar sus Pokémon favoritos con solo presionar un botón en la tarjeta del Pokémon en la página principal. ¡Nunca más perderás a tu Pokémon favorito! 💖</li>
    </ul>
  </section>

  <section class="mb-6">
    <h2 class="text-2xl font-semibold text-gray-700">🛠️ Cómo Usar</h2>
    <p class="text-sm text-gray-600">
      1. Navega a la página principal para buscar un Pokémon. <br />
      2. Usa la barra de búsqueda para encontrar un Pokémon por su nombre o selecciona un filtro para reducir los resultados por tipo o por orden alfabético. <br />
      3. Haz clic en cualquier Pokémon en la opción "More Info" para ver información detallada como sus estadísticas, habilidades y más. <br />
      4. Si te gusta un Pokémon, puedes agregarlo a tus favoritos haciendo clic en el botón de favoritos en su tarjeta. 🏆
    </p>
  </section>
</div>
