<p-menubar [model]="items">
  <!-- Logo al inicio -->
  <ng-template #start>
  <!--<p-avatar image="assets/pokedex.png" shape="circle"></p-avatar>-->
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/2052px-Pok%C3%A9_Ball_icon.svg.png" alt="PokéBall Logo" class="w-12 h-12">
  </ng-template>

  <!-- Contenido al final -->
  <ng-template #end>
    <!--<div class="flex items-center gap-2">
      <input type="text" pInputText placeholder="Search" class="w-36" />
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"></p-avatar>
    </div>-->
  </ng-template>
</p-menubar>
