<div *ngIf="loading" class="loading text-center text-lg font-semibold">Loading...</div>
<div *ngIf="!loading && pokemonDetails" class="pokemon-details">
  <p-card class="mb-4">
    <h2 class="text-3xl font-bold text-center capitalize">{{ pokemonDetails.name | titlecase }}</h2>

    <div class="flex justify-center mb-4">
      <img [src]="pokemonDetails.sprites.front_default" alt="{{ pokemonDetails.name }}" class="pokemon-image rounded-lg shadow-lg w-32 h-32 object-cover" />
    </div>

    <div class="flex justify-center">
      <p-tag [value]="'' + pokemonDetails.id" severity="danger" class="mb-4"></p-tag>
    </div>

    <p-accordion>
      <p-accordion-panel header="Details">
        <div class="details space-y-4">
          <p class="text-lg"><strong>Height:</strong> {{ pokemonDetails.height }} decimeters</p>
          <p class="text-lg"><strong>Weight:</strong> {{ pokemonDetails.weight }} hectograms</p>
        </div>
      </p-accordion-panel>

      <p-accordion-panel header="Abilities">
        <div class="abilities">
          <ul class="list-disc list-inside">
            <li *ngFor="let ability of pokemonDetails.abilities" class="text-md">{{ ability.ability.name | titlecase }}</li>
          </ul>
        </div>
      </p-accordion-panel>

      <p-accordion-panel header="Types">
        <div class="types">
          <ul class="list-disc list-inside">
            <li *ngFor="let type of pokemonDetails.types" class="text-md">{{ type.type.name | titlecase }}</li>
          </ul>
        </div>
      </p-accordion-panel>
    </p-accordion>
  </p-card>
</div>
